nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #525252;
}

.logo {
  height: 50px;
  width: 120px;
}

.search-container {
  color: white;
  display: flex;
  align-items: center;
}



.login {
  font-weight: bold;
  color: white;
}
