nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #525252;
  z-index: 100;
}

.logo {
  height: 50px;
  width: 120px;
}

.search-container {
  color: white;
  display: flex;
  align-items: center;
}



.login {
  font-weight: bold;
  color: white;
}
@media (max-width: 768px) {
  h1 {
    display: none;
  }
}
@media (max-width: 480px) {
  .logo {
    height: 30px;
  }

  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    margin-top: 10px;
    width: 100%;
  }

  input[type='text'] {
    width: 100%;
  }

  .login {
    font-size: 0.8rem;
  }
}