/* Bookcardstyling.css */

.book-card-section-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%; /* Adjust this value to match the width of your sidebar */
}

.book-card-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 7%;
  margin-left: 16%;
  margin-right: 10%;
  
}

.book-card-section-header input {
  padding: 8px;
  font-size: 16px;
  align-items: center;
  border: #808080 solid 3px;
  border-radius: 20px;
  width: 40%;
  padding: 10px;
  margin: 20px;
  text-align: center;
  color:  #005EFF;
  
}

.book-card-section-header select {
  padding: 8px;
  font-size: 16px;
  border: #808080 solid 3px;
  border-radius: 10px;
  padding: 10px;
  color:  #005EFF;
 
}

.book-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.book-card {
  
  flex: 0 0 15%; /* Adjust the width of the book card based on your design */
  background-color: #f5f5f5;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  border: #808080 solid 3px;
  
  
}
.book-card:hover{
  border:4px solid #005EFF;
  transform: translateY(-15px);
}

.book-card h3 {
  margin-top: 0;
}

.book-card p {
  margin-bottom: 8px;
}

.read-more-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: #0056b3;
}

.read-more-button:focus {
  outline: none;
}
.book-details {
  display: flex;
  align-items: center;
}

.star-rating {
  display: flex;
  margin-right: 8px;
}

.star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fdd835;
  border-radius: 50%;
  margin-right: 2px;
}


.book-details p {
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .book-card {
    flex: 0 0 50%; /* Adjust the width of the book card based on your design */
  }
}

@media (min-width: 768px) {
  .book-card {
    flex: 0 0 33.33%; /* Adjust the width of the book card based on your design */
  }
}

@media (min-width: 992px) {
  .book-card {
    flex: 0 0 25%; /* Adjust the width of the book card based on your design */
  }
}

@media (min-width: 1200px) {
  .book-card {
    flex: 0 0 20%; /* Adjust the width of the book card based on your design */
  }
}

.book-card h3 {
  margin-top: 0;
}

.book-card p {
  margin-bottom: 8px;
}

.read-more-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: #0056b3;
}

.read-more-button:focus {
  outline: none;
}

.book-details {
  display: flex;
  align-items: center;
}

.star-rating {
  display: flex;
  margin-right: 8px;
}

.star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fdd835;
  border-radius: 50%;
  margin-right: 2px;
}

.book-details p {
  margin-bottom: 0;
}






